<section id="contact">
	<div class="container">
		<h2 class="heading">Contact</h2>
		<p class="heading-text">It is a long established fact that a reader will be distracted by the readable<br>
                            content of a page when looking at its layout.<br class="sp-none">
                            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
    </p>
		<div class="contact-group">
			<div class="left-content">
				<div class="left-contact-content">
					<h3 class="description-title">Mail</h3>
					<a class="description-text link-text" href="mailto:xxx@xxx.com">xxx@xxx.com</a>
					<h3 class="description-title">Tel</h3>
					<a class="description-text link-text" href="tel:00000000000">000-0000-0000</a>
				</div>
			</div>
			<div class="right-content">
				<div class="right-contact-content">
					<h3 class="description-title">SNS</h3>
					<i class="fab fa-facebook-f fa-5x" aria-hidden="true"></i>
					<i class="fab fa-twitter fa-5x" aria-hidden="true"></i>
					<i class="fab fa-instagram fa-5x" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</div>
</section>