<section id="portfolio">
  <div class="container">
    <h2 class="heading">Portfolio</h2>
    <p class="heading-text">It is a long established fact that a reader will be distracted by the readable<br>
                            content of a page when looking at its layout.<br class="sp-none"> 
                            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
    </p>
    <div class="production-group">
      <div class="production bg-1 sp-none"></div>
      <div class="production bg-2"></div>
      <div class="production bg-3 sp-none"></div>
      <div class="production bg-4"></div>
      <div class="production bg-5 sp-none"></div>
      <div class="production bg-6"></div>
    </div>
  </div>
</section>