<section id="profile">
	<div class="container">
		<h2 class="heading">Profile</h2>
		<p class="heading-text">It is a long established fact that a reader will be distracted by the readable<br>
                            content of a page when looking at its layout.<br class="sp-none">
                            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
    </p>
		<div class="profile-group">
			<div class="left-content">
				<div class="my-face"></div>
			</div>
			<div class="right-content">
				<h3 class="description-title">MyName</h3>
				<p class="description-text">
					Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
				</p>
				<h3 class="description-title">MySkills</h3>
				<p class="description-text">HTML/CSS,JavaScript,JQuery,PhotoShop</p>
			</div>
		</div>
	</div>
</section>