<nav class="navbar navbar-expand-lg navbar-light">
  <ul class="nav-list">
    <li class="nav-item">
      <%= link_to "Portfolio", homes_portfolio_path, class: "btn btn-outline-secondary mx-3 my-1"%>
    </li>
    <li class="nav-item">
      <%= link_to "Feature", homes_feature_path, class: "btn btn-outline-secondary mx-3 my-1"%>
    </li>
    <li class="nav-item">
      <%= link_to "Profile", homes_profile_path, class: "btn btn-outline-secondary mx-3 my-1"%>
    </li>
    <li class="nav-item">
      <%= link_to "Contact", homes_contact_path, class: "btn btn-outline-secondary mx-3 my-1"%>
    </li>
  </ul>
</nav>